.price {
    padding: 74px 0 61px;
    background: linear-gradient(to right, #ff8f5a, #ff2f96);
    color: $colorWhite;

    &__description {
        font-size: 45px;
        font-weight: 600;
        margin: 0 9.8%;
        letter-spacing: -0.04px;
        line-height: 1.35;
        }

    &__note {
        font-size: $textSize20;
        margin-right: 25%;
        margin-left: 9.9%;
        margin-top: 29px;
        padding-left: 12px;
        letter-spacing: 1.05px;
        line-height: 1.5;
        position: relative;

        &::before {
            content: "*";
            position: absolute;
            left: -2px;
            }
        }

    @include large {
        padding: 74px 0 61px;

        &__description {
            margin: $marginZero;
            letter-spacing: 0;
            }

        &__note {
            margin-left: $marginZero;
            margin-right: 20%;
            }
        }

    @include small {
        padding: 43px 0 23px;

        &__note {
            margin-right: $marginZero;
            margin-top: 31px;
            letter-spacing: -0.5px;
            }

        &__description {
            font-size: 28px;
            line-height: 1.45;
            }
        }
    }